@model BLL.DTOs.UserDTO

@{
    ViewData["Title"] = "Register";
}

<div style="width:400px;
            margin:auto;
            margin-top:80px;
            padding:30px;
            border:1px solid #ccc;
            border-radius:10px;
            box-shadow:0px 0px 10px lightgray;">

    <h2 style="text-align:center; margin-bottom:25px;">
        Register
    </h2>

    <form asp-action="Register" method="post">

        <div style="margin-bottom:15px;">

            <label>Name</label>

            <input asp-for="Name"
                   class="form-control"
                   placeholder="Enter Name" />

            <span asp-validation-for="Name"
                  style="color:red;"></span>

        </div>


        <div style="margin-bottom:15px;">

            <label>Email</label>

            <input asp-for="Email"
                   class="form-control"
                   placeholder="Enter Email" />

            <span asp-validation-for="Email"
                  style="color:red;"></span>

        </div>


        <div style="margin-bottom:15px;">

            <label>Password</label>

            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   placeholder="Enter Password" />

            <span asp-validation-for="Password"
                  style="color:red;"></span>

        </div>


        <div style="margin-bottom:20px;">

            <label>Confirm Password</label>

            <input asp-for="ConfirmPassword"
                   type="password"
                   class="form-control"
                   placeholder="Confirm Password" />

            <span asp-validation-for="ConfirmPassword"
                  style="color:red;"></span>

        </div>


        <button type="submit"
                class="btn btn-success w-100">
            Register
        </button>

    </form>


    <div style="text-align:center; margin-top:20px;">

        Already have an account?

        <a asp-controller="User"
           asp-action="Login"
           style="text-decoration:none;
                  font-weight:bold;">
            Login
        </a>

    </div>

</div>


