


@model List<BLL.DTOs.CategoryDTO>

<h2>Category List</h2>

<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>

            <td>
            @if (Context.Session.GetString("Role") == "Admin")
                {
                    <a class="btn btn-outline-secondary"
                    asp-action="Edit"
                    asp-route-id="@item.Id">
                        Edit
                    </a>

                    <a class="btn btn-danger"
                    asp-action="Delete"
                    asp-route-id="@item.Id">
                        Delete
                    </a>                
                }
            </td>
        </tr>
    }

</table>

<div>
    @if (Context.Session.GetString("Role") == "Admin")
    {
        <a asp-action="Create"
           class="btn btn-success">
            Add Category
        </a>
    }
<a asp-controller="Book"
   asp-action="Index"
   class="btn btn-primary">
    See Book List
</a>
</div>